
.about-section {
  margin-top: 3rem;
  width: 100%;
  padding: 80px 10%;
  background: rgb(255,255,255);
  box-sizing: border-box;
  margin-left: 3rem;
  margin-right: 2rem;
}


.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap; 
}

/* Left Image design */
.about-left {
  flex: 1;
  text-align: center;
}

.about-left img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Right Content  design*/
.about-right {
  flex: 1;
}

.about-right h1 {
  font-family: "Motiva Sans Bold", serif;
  font-size: 56px;
  color: rgb(24, 33, 109);
  margin-bottom: 20px;
  line-height: 1.18;
}

.about-right p {
  font-family: "Motiva Sans", sans-serif;
  font-weight: 300;
  margin: 1.5rem 0px 2rem;
  font-size: 21px;
  color: rgb(24, 33, 109);
  line-height: 1.41;
}

 /* responsive for differnt screen  */

/* Extra Small screens ≤425px - Image above content */
@media (max-width: 425px) {
  .about-container {
    flex-direction: column; 
    text-align: center;
    gap: 20px;
    margin-left: -3rem;
  }

  .about-left {
    order: 1; 
    width: 100%;
    margin-bottom: 1rem;
  }

  .about-right {
    order: 2; 
    width: 100%;
  }

  .about-left img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .about-right h1 {
    font-size: 2rem;
    line-height: 1.18;
    margin-left: -4rem;
    margin-bottom: .5em;
  }

  .about-right p {
    font-size: 21px;
    line-height: 1.41;
    box-sizing: border-box;
    margin-left: -1rem;
  }
}

/* Small to Medium screens 426px to 767px */
@media (min-width: 426px) and (max-width: 767px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
   
  }

  .about-left {
    width: 100%;
  }

  .about-right {
    width: 100%;
  }

  .about-right h1 {
    font-size: 32px;
    line-height: 1.81;
   
  }

  .about-right p {
    font-size: 21px
  }
}

/* Medium screens ≥768px - Side by side */
@media (min-width: 768px) and (max-width: 1023px) {
  .about-container {
    flex-direction: row;
    text-align: left;
    gap: 40px;
  }

  .about-right h1 {
    font-size: 2.5rem;
  }

  .about-right p {
    font-size: 1.1rem;
  }
}

/* Large screens ≥1024px - Side by side */
@media (min-width: 1024px) and (max-width: 1919px) {
  .about-right h1 {
    font-size: 3rem;
  }

  .about-right p {
    font-size: 1.2rem;
  }
}

/* Extra Large screens ≥1920px */
@media (min-width: 1920px) {
  .about-right h1 {
    font-size: 3.5rem;
  }

  .about-right p {
    font-size: 1.3rem;
  }
}
