/* Section Container */
.introduce {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background: #fdfdfd;
  text-align: center;
  margin: auto;
}

/* Inner Content */
.introduce-content {
  max-width: 800px;
  margin: auto;
}

/* Heading */
.introduce-content h1 {
  font-family: "Motiva sans Bold", sans-serif;
  font-size: 56px;
  color: rgb(46, 24, 109);
  margin-bottom: 25px;
  line-height: 1.18;
}

/* Paragraph */
.introduce-content p {
  font-family: "Motiva Sans", sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: rgb(46, 24, 109);
  line-height: 1.41;
  margin-bottom: 1rem;
}

/* Button */
.intro-btn {
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 700;
  background: rgb(46, 24, 106);
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.625rem;
  width: 180px;
}

.intro-btn:hover {
  background: rgb(255, 130, 92);
}

/* Extra Small screens ≤425px */
@media (max-width: 425px) {
  .introduce {
    padding: 40px 10px;
  }

  .introduce-content h1 {
    font-size:2rem
  }

  .introduce-content p {
    font-size: 21px;
    padding: 0.7rem 0px;
    line-height: 1.41;
    margin-bottom: 1em;
  }

  .intro-btn {
    width: 150px;
    font-size: 0.9rem;
  }
}

/* Small screens 426px–768px */
@media (min-width: 426px) and (max-width: 768px) {
  .introduce {
    padding: 60px 15px;
  }

  .introduce-content h1 {
    font-size: 2rem;
  }

  .introduce-content p {
    font-size: 1rem;
  }

  .intro-btn {
    width: 160px;
    font-size: 0.95rem;
  }
}

/* Medium screens 769px–1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .introduce-content h1 {
    font-size: 2.5rem;
  }

  .introduce-content p {
    font-size: 1.1rem;
  }

  .intro-btn {
    width: 170px;
    font-size: 1rem;
  }
}

/* Large screens 1025px–1920px */
@media (min-width: 1025px) and (max-width: 1920px) {
  .introduce-content h1 {
    font-size: 3.5rem;
  }

  .introduce-content p {
    font-size: 1.25rem;
  }

  .intro-btn {
    width: 180px;
    font-size: 1rem;
  }
}

/* Extra Large screens >1920px */
@media (min-width: 1921px) {
  .introduce-content h1 {
    font-size: 4rem;
  }

  .introduce-content p {
    font-size: 1.35rem;
  }

  .intro-btn {
    width: 200px;
    font-size: 1.1rem;
  }
}
