.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* background: #333; */
  color: rgb(46, 24, 109);
  border: none;
  /* border-radius: 50%; */
  padding: 12px;
  cursor: pointer;
  /* box-shadow: 0 4px 6px rgba(0,0,0,0.2); */
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.scroll-to-top:hover {
  background: #e4dcdc;
  border: none ;
  /* transform: translateY(-3px); */
}
